.card {
	padding: 20px;
	max-width: 90%;
	background-color: #0000001f;
	border-radius: 20px;
}

.img_container {
	border-radius: 15px 15px 0 0;
	max-width: 100%;
	overflow: hidden;
}

.title {
	font-weight: normal;
	font-size: 1.3rem;
	margin-left: 10px;
}

.toCart {
	padding: 0.5rem 1rem;
	font-size: 1rem;
	display: inline-flex;
	align-items: center;
	gap: 0.3rem;
}

.productInfo {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 10px 10px 0;
}

.priceTag {
	font-size: 1.5rem;
	font-weight: bold;
}

.btnText{
	font-weight: 500;
}

/* ====================== Query ============================= */

@media screen and (max-width: 400px) {
	.card {
		max-width: 300px;
	}
}

@media (min-width: 575px) and (max-width: 699px ){
	.card {
		max-width: 85%;
	}
}
@media (max-width: 779px){
	.card{
		max-width: 500px;
	}
}
@media (min-width: 780px) and (max-width:1200px) {
	.card {
		width: 300px;
	}
}

@media (min-width: 768px) {
	.grid {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media (min-width: 1200px) {
	.grid {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}
