* {
	margin: 0;
	padding: 0;
}
body {
	font-family: "Roboto", "sans-serif";
}

header {
	background-color: #222;
}

header a.logo {
	color: #fff;
}

header a {
	color: #aaa;
	text-decoration: none;
}

nav {
	display: flex;
	gap: 0.6rem;
}

header .container {
	display: flex;
	justify-content: space-between;
	padding: 1.2rem 0;
}

.container {
	max-width: 95%;
	margin: 0 auto;
}

@media (min-width: 760px) {
	nav {
		gap: 1.2rem;
	}
}
