* {
	margin: 0;
	padding: 0;
}
body {
	font-family: "Roboto", "sans-serif";
	scroll-behavior: smooth;
}

header {
	background-color: #222;
	overflow: hidden;
}

header a.logo {
	color: #fff;
}

header a {
	color: #aaa;
	text-decoration: none;
}

nav {
	display: flex;
	gap: 0.6rem;
}

header .container {
	display: flex;
	justify-content: space-between;
	padding: 1.2rem 0;
}

button {
	cursor: pointer;
}

.container {
	max-width: 95%;
	margin: 0 auto;
}

.primary-btn {
	background-color: #5542f6;
	border: none;
	color: white;
	border-radius: 5px;
}

.icon {
	width: 1.1rem;
	height: 1.1rem;
}

@media (min-width: 760px) {
	nav {
		gap: 1.2rem;
	}
}
