* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Roboto", "sans-serif";
	scroll-behavior: smooth;
}

header {
	background-color: #222;
	overflow: hidden;
}

header a.logo {
	color: #fff;
}

header a {
	color: #aaa;
	text-decoration: none;
}

nav {
	display: flex;
	gap: 0.6rem;
}

header .container {
	display: flex;
	justify-content: space-between;
	padding: 1.2rem 0;
}

button {
	cursor: pointer;
}

.container {
	max-width: 95%;
	margin: 0 auto;
}

p{
	font-family: "Roboto", "sans-serif";
}

/* ====================== Buttons ============================= */
.primary-btn {
	background-color: #5542f6;
	color: white;
	border-radius: 5px;
}

.primary-btn-outline {
    border: 1px solid #4432e6;
	background-color: transparent;
	border-radius: 5px;
	color: #4432e6;
}

.primary-btn:hover{
	background-color: #473bac;
	transition: background-color 0.3s;
}

.primary-btn-outline:hover{
	background-color: #4432e6;
	color: white;
	transition: all 0.2s;
}

/* ====================== Icons ============================= */

.icon {
	width: 1.1rem;
	height: 1.1rem;
}

/* ====================== Query ============================= */

@media (min-width: 760px) {
	nav {
		gap: 1.2rem;
	}
}
